.prodiv{

    border: #7E5126 solid 1px;
    height: 300px;
    text-align: center;
    transition: all 0.5s;
    &:hover{
background-color:green;
color:white
    }
}

.probg{

background-image: url("./assets/Images/productbg.jpg");
background-repeat: no-repeat;
background-size: cover;
height: 650px;
position: relative;
z-index: -2;


&::before{
    content: '';
    width: 100%;
    height: 100%;



    background: rgba(0,0,0,0.3); 
    position: absolute; top: 0; left: 0;
    z-index: -2;
    
    
}
}