<div id="services">
    <div class=" d-none d-lg-block" style="height: 100px;"></div>
    <div class="   ">
   <div class="row">
       <div class="col-12">
           <div class="servicesec">
            <div class="section-title py-5">
                <h1><span class="text-white">Services</span></h1>
              </div>
             <div class="p-5">
                <div class="row">
                    <div class="col-12 col-lg-2 my-2" *ngFor="let sCard of ServiceCards">
                     

                        <div class="card" >
                                <div class="bg-image" >
                                   <div class="cardimg" [style.background-image]='"url(" + sCard.imageUrl + ")"'></div>
                                </div>
                            <div class="card-body">
                              <h5 class="card-title">{{sCard.heading}}</h5>
                              <p class="card-text">
                                {{sCard.description}}
                             </p>
                              <a href="{{sCard.buttonLink}}" mdbRipple class="btn  btn-primary">Button</a>
                            </div>
                        </div>
                        

                    </div>
                    
                    </div>
                </div>
             </div>
           </div>
        
       </div>
   </div>
    </div>
