<div class="container my-5">
    <div class="row">
        <div class="col-lg-6">
            <div class="section-title">
                <h1>About Us</h1>
              </div>
        <div>
            <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis cum quisquam cupiditate quo aliquid assumenda sint, temporibus illum ab! Unde pariatur ullam iste excepturi reiciendis esse nesciunt? Sapiente, unde laborum!
            Id unde, omnis eum quasi repellat, quibusdam voluptatibus, minus sed nesciunt repudiandae error odit aliquid expedita! Molestias, nesciunt nobis culpa ducimus odio eveniet numquam harum esse ipsum ipsa. Quasi, placeat.
            Tempore exercitationem doloremque dolore sint maxime amet ea! Consequatur, amet impedit, porro inventore minus cumque temporibus similique nesciunt dicta quasi dolor. Natus laudantium quo saepe excepturi quibusdam dolores tempora atque.
            Assumenda vel labore dolorum, </p>
            <button mdbRipple type="button" class="btn btn-success">Read More</button>
            
        </div>
       
        </div>
        <div class="col-lg-6">
            <img src="../../../assets/Images/aboutus.jpg" alt="" class="img-fluid">
        </div>
    </div>
    
</div>